.form-custom-cls {
  flex-direction: column;
}
.form-fieldset {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.contacts-field-set {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 5px;
}
.legend {
  font-size: 1.8rem;
  font-weight: 500;
}
