.root {
  z-index: 0;
  padding-top: 40px;
}
.card {
  /* width: 180px;
  height: 250px; */
  max-height: 400px;
  padding: 1rem;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  background: #ffffff;
  margin: 0 1rem 1rem 1em;
  align-items: center;
  border-radius: 3px;
  user-select: none;
  animation: fly-in-from-left 0.5s 1s ease both;
  margin: 0 auto;
}
.title {
  font-family: LatoBl;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #1b3032;
  position: relative;
  z-index: 2;
}
.title:after {
  content: url('/images/dots.png');
  top: -10px;
  left: 0px;
  z-index: -1;
  position: absolute;
}
.name {
  color: #212121;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}
.position {
  color: #212121;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
}
.cards {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(228px, 1fr));
  gap: 10px;
  justify-items: flex-start;
}
.avatar-wrapper {
  display: flex;
  justify-content: center;
}
.workplace {
  font-size: 1.4rem;
  text-align: left;
  font-family: var(--text-ff);
}
