.table th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #185875;
}

.table td {
  font-weight: normal;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}

.table {
  text-align: left;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
  border-collapse: collapse;
}
.table tr,
.table th,
.table td:last-child {
  border: 1px solid white; /* changed to white to be more noticeable */
}
.table td,
.table th {
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
}
.table th {
  border: none;
}
/* Background-color of the odd rows */
.table tr:nth-child(odd) {
  background-color: #323c50;
}

/* Background-color of the even rows */
.table tr:nth-child(even) {
  background-color: #2c3446;
}

.table th {
  background-color: #4b5d67;
  font-size: 1.6rem;
}

.column-header {
  color: white;
}
.cell {
  color: white;
  border: 1px solid white;
  font-size: 1.4rem;
}
/* .table tr:hover {
  background-color: #464a52;
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
}

.table td:hover {
  background-color: #fff842;
  color: #403e10;
  font-weight: bold;

  box-shadow: #7f7c21 -1px 1px, #7f7c21 -2px 2px, #7f7c21 -3px 3px,
    #7f7c21 -4px 4px, #7f7c21 -5px 5px, #7f7c21 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
} */

@media (max-width: 800px) {
  .table td:nth-child(4),
  .table th:nth-child(4) {
    display: none;
  }
}
