.add-new-button {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #1ba1fc;
  border-radius: 25px;
  transition: width 0.3s;
  overflow: hidden;
  cursor: pointer;
}

.add-new-button-icon {
  top: 0;
  right: 0;
  z-index: 4;
  position: absolute;
  color: #fff;
  transition: transform 0.2s;
  width: 25px;
  height: 25px;
}

.add-new-button-icon i {
  top: 4px;
  height: 100%;
  margin-left: 4px;
  position: relative;
}

.add-new-button:hover {
  width: 120px;
}

.add-new-button:hover .add-new-button-icon {
  transform: rotate(90deg);
}

.add-new-button-label {
  width: 100px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 25px;
  position: relative;
  padding-left: 10px;
  -moz-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.add-new-button:hover .add-new-button-label {
  transition-delay: 0.1s;
  visibility: visible;
  opacity: 1;
  color: #fff;
}
.add-new-link {
  margin-left: auto;
}
