.form-control {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--btn-bg);
  border-radius: 0.6em;
  color: var(--btn-bg);
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  padding: 1em 2em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}

.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.btn:hover {
  box-shadow: 0 0 40px 40px var(--btn-bg) inset;
}
