.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 15px;
  list-style: none;
  position: relative;
  padding-top: 10px;
}
.section-title {
  font-family: LatoBl;
  font-size: 24px;
  text-transform: uppercase;
  text-align: left;
  color: #1b3032;
  position: relative;
  z-index: 2;
}
.section-title:after {
  content: url(/images/dots.png);
  top: -10px;
  left: 0px;
  z-index: -1;
  position: absolute;
}
.course-tab {
  background-color: #86aeff;
  color: white;
  font-size: 16px;
}
.root :global(.react-tabs__tab--selected) {
  background: #86aeff;
  border-color: #86aeff;
  color: white;
  border-radius: 5px 5px 0 0;
  font-size: 14px;
}
.root :global(.react-tabs__tab) {
  font-size: 14px;
}
.root :global(.react-tabs__tab-list) {
  border-bottom: 1px solid #00d6df;
}
